.hidden{display:none!important} 

.card,.project-card,.profile,.section h2{ 
  opacity:0; 
  transform:translateY(20px); 
  transition:.8s; 
} 

.active{ 
  opacity:1!important; 
  transform:none!important; 
}
